.poster {
    transition: ease-in-out 150ms;
}
.poster:hover {
    cursor: pointer;
    opacity: 0.75;
}

.description {
    color: white;
}

.description a{
   color : white;
   font-weight: bold;
   text-decoration: none;
}

.description a:hover {
    color : rgba(243, 244, 246, var(--text-opacity));
}