.input_search {
    background-color: rgba(30, 41, 55, var(--bg-opacity));
    border-radius: 9999px;
    border:none;color: rgba(107, 114, 128, var(--text-opacity));
    padding: 0.25rem 0.5rem;
    padding-left: 2rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 16rem;
  }

  .input_search:focus {
      box-shadow: 2px 0px 10px teal;
  }

  .svg {
      color: rgba(107, 114, 128, var(--text-opacity));
      margin-top:0.5rem;
      margin-left: 0.5rem;
      width:1rem;
  }